
/* Main Page */
body {
    background-color: hsl(233, 47%, 7%);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10% auto;
    width: 350px;
}

/* Image Element */
picture {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 3% 3% 0 0;
    max-width: 350px;
    position: relative;
    z-index: -1;
}

.layer {
    border-radius: 3% 3% 0 0;
    position: absolute;
    width:350px;
    height: 257px;
    opacity:0.5;
    background-color: hsl(277, 64%, 61%);
}

/* Description */
.description {
    background-color:hsl(244, 38%, 16%);
    color:#fff;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: center;
    padding: 5% 7%;
    font-family: 'Inter' , sans-serif;
    border-radius: 0 0 3% 3%;
}

.description span {
    color: hsl(277, 64%, 61%);
}

.description h1 {
    margin:20px 0 0 0;
}

.description p {
    margin:0 5%;
    line-height: 2;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', serif;
    font-weight: 300;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
}

.statistics h2 {
    margin: 0;
    font-weight: 700;
}

.statistics p {
    color:hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}


/* Attribution */
.attribution {
    margin: 100px 0 20px 0;
    font-size: 15px; 
    text-align: center;
    color: #fff;
    font-family: 'Lexend Deca', serif;
}

.attribution a { 
    color: hsl(277, 64%, 61%); 
}


/* Media Queries */
@media (min-width:600px) and (max-width:1000px) {
    main {
        flex-direction:row-reverse;
        width: max-content;
        flex-wrap: wrap;
        height: 26em;
    }

    img {
        max-width: 20rem;
        flex-wrap: wrap;
        height: 26rem;
        border-radius: 0 2% 2% 0;
    }

    .layer {
        width: 20rem;
        height: 26rem;
        border-radius: 0 2% 2% 0;
    }

    .description {
        max-width: 19em;
        height: 22.5rem;
        text-align: left;
        padding: 2em;
        justify-content: left;
        align-content: space-between;
        border-radius: 2% 0 0 2%;
        font-size: 90%;
    }
    
    .description p {
        font-size: 90%;
        margin: 0;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: space-between;
        width: 250px;
    }

    .statitics-card {
        margin:0;
    }

}


@media (min-width:1000px) {
    main {
        flex-direction:row-reverse;
        width: max-content;
        flex-wrap: wrap;
        height: 26em;
    }

    img {
        max-width: 30rem;
        flex-wrap: wrap;
        height: 26rem;
        border-radius: 0 2% 2% 0;
    }

    .layer {
        width: 30rem;
        height: 26rem;
        border-radius: 0 2% 2% 0;
    }

    .description {
        max-width: 24rem;
        height:20rem;
        text-align: left;
        padding: 3em;
        justify-content: space-between;
        align-content: space-between;
        border-radius: 2% 0 0 2%;
    }

    .description h1 {
        margin: 0;
        font-weight: 700;
    }

    .description p {
        margin: 0;
        line-height: 1.7;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 340px;
        height:70px;
    }

    .statitics-card {
        margin: 20px 0 0 0;
    }

    .statistics h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .statistics p {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 200;
    }
}